<script src="/js/categoria/cadastrar.js"></script>

<div>
    <h1>Cadastrar Categoria</h1>

    <div class="form-group">
        <label>Descrição</label>
        <input id="descricao" class="form-control">
    </div>

    <div class="form-check">
        <input id="ativo" type="checkbox" checked>
        <label>Ativo</label>
    </div>

    <br>

    <button id="btnGravar" class="btn btn-primary">Gravar</button>
    <a href="/categoria" class="btn btn-secondary">Voltar</a>
</div>