<script src="/js/laboratorio/cadastrar.js"></script>

<div>
    <h1>Cadastrar Laboratório</h1>

    <div class="form-group">
        <label for="nome">Nome</label>
        <input id="nome" class="form-control">
    </div>

    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input id="telefone" class="form-control">
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input id="email" class="form-control">
    </div>

    <div class="form-check">
        <input id="ativo" type="checkbox" checked>
        <label for="ativo">Ativo</label>
    </div>

    <br>

    <button id="btnGravar" class="btn btn-primary">Gravar</button>
    <a href="/laboratorio" class="btn btn-secondary">Voltar</a>
</div>